.header-img {
  background-image: url(/img/background\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 1365px;
  padding-left: 160px;
  padding-right: 175px;
  align-items: center;
}
.conteiner {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.conteiner-milan:hover {
  color: #f26522;
  cursor: pointer;
}
.conteiner-holidays:hover {
  color: #f26522;
  cursor: pointer;
}

.castle:hover {
  content: url(../img/logo\ 2.png);
  cursor: pointer;
}

.conteiner-milan {
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  display: flex;
  margin-left: 10px;
}
.conteiner-holidays {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  margin-left: 10px;
}
.links {
  margin-left: 630px;
}

.conteiner-com {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}
.conteiner-com:hover {
  color: #f26522;
  cursor: pointer;
}

.phone {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
}
.phone:hover {
  color: #f26522;
  cursor: pointer;
}
.list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  align-items: center;
}

.list-photo {
  margin-right: 50px;
  color: #ffffff;
}
.list-wrap {
  position: relative;
}

.list-text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 35px;
}
.list-text:hover {
  color: #f26522;
  cursor: pointer;
}

.title {
  position: absolute;
  width: 300px;
  height: 55px;
  top: 165px;
  display: none;
  background-color: #f26522;
}
.title-from {
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  margin-top: 8px;
  margin-left: 15px;
  margin-bottom: 8px;
}
.title-price {
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  margin-left: 15px;
  margin-bottom: 10px;
}
.text-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-info {
  margin-bottom: -30px;
  text-align: end;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  margin-top: 30px;
  margin-bottom: 10px;
}
.title-info::after {
  content: url(../img/Vector\ 1.png);
  color: #ffffff;
  width: 5px;
  height: 10px;
  margin-right: 15px;
  margin-left: 15px;
}
.list-photo:hover .title {
  display: block;
}
.text-align {
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  text-align: center;
  padding-bottom: 15px;
}
